body {
  background-color: #FAF0E6;
}

.App {
  text-align: center;
  margin-top: 9vh;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #352F44;
  min-height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;  /* Align items to the left */
  padding: 0 20px;
  font-size: calc(10px + 2vmin);
  color: #FAF0E6;
  z-index: 1000;
}

.App-header img {
  height: 90px;
  margin-right: 10px;
}

.App-header h1 {
  color: #FAF0E6;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;  /* Push the navigation links to the right */
  flex-grow: 1;  /* Allow the nav links to take up the remaining space */
  margin: 0;
}

.nav-links li {
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: #FAF0E6;
  font-size: 1.2rem;
  padding: 10px 15px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.header-title {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 10px;  /* Add small left margin if needed */
}
