.App {
  text-align: center;
  margin-top: 25vh;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1000;
}

.App-header h1 {
  color: #007bff;
  font-size: 3rem;
  margin: 0;  /* Remove any default margin */
  padding: 20px;  /* Add padding for spacing */
  text-align: center;
  width: 100%;
}

.pdf-img {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 20px;
  border: 2px solid #ddd;
}

.nav-links {
  list-style-type: none;
  padding: 10px 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #007bff;
  margin: 0;
}

.nav-links li {
  flex-grow: 1;  /* Make the links fill the space evenly */
  text-align: center;  /* Center-align the text in each item */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  display: block;  /* Makes the anchor tag fill the li */
  padding: 10px 15px;  /* Adds padding for better click area */
}

.nav-links a:hover {
  text-decoration: underline;
}
.header-title {
  text-align: center; /* Centers the title within its container */
  width: 100%; /* Ensures it spans the full width */
}