.footer {
  background-color: #FAF0E6;  /* Light grey background */
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;  /* Adjusts spacing between sections */
  align-items: flex-start;  /* Align items at the top */
  width: 70%;  /* Limit the total width of the content */
  margin: 0 auto;  /* Center the footer content */
  padding: 10px 0;  /* Add some padding for spacing */
}

.social-link {
  margin-left: 10px;
  transition: transform 0.3s;
}

.social-link:hover {
  transform: scale(1.1);
}

.footer p {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.contact, .hours {
  margin-top: 15px;
}

.left-section {
  flex-grow: 0;
  text-align: left;
}

.left-section .nav-links-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;  /* Reduce the gap between nav links */
}

.left-section .nav-links-footer a {
  text-decoration: none;
  color: #735ab4;
  font-size: 1.1rem;
}

.underline {
  margin: 3;
  text-decoration: underline;
  font-size: 1.1rem;
  color: #352F44;
}

.left-section .nav-links-footer a:hover {
  text-decoration: underline;
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  /* Aligns text to the left */
  gap: 10px;  /* Adds some spacing */
  flex-grow: 0;  /* Prevent growing, keep it centered */
}


.right-section .follow-us-row p {
  margin-right: 10px;  /* Add space between text and icon */
  margin-bottom: 5px;
}

.right-section .social-link {
  margin-left: 5px;  /* Remove default left margin */
}

.right-section {
  text-align: left;
  flex-grow: 0;
  margin-left: 20px;  /* Reduce margin between right section and center */
}
.right-section img {
  height: 120px;
  margin-top: 30px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
